h2{
    font-size: 50px;
    margin-bottom: 0.01%;
    text-align: center;
  }
  
.detailsBody{
  padding-left: 4rem;
  padding-right: 4rem;
}

  body .movieTilte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 25rem;
  }
  
  .movieDescrption1{
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
  }
  .description{
    display: flex;
    flex-direction: column;
  }
  .description .genure{
    width: 30%;
  }
  .description .add2List{
    margin: 1rem;
    background-color: black;
    color: white;
    padding: 1rem;
    width: 30%;
    font-size: larger;
  }
  
  .movieDes{
    color: rgb(173, 173, 173);
  }
  
  .rating{
    padding: 0.7rem;
    font-weight: 900;
    border-style: solid;
    width: fit-content;
    height: fit-content;
    border-radius: 10rem;
  }
  
  .movieDescription{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  
  .topBox{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .poster{
    width: 30%
  }

  .genure{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  .genure .gen{
    margin: 1rem;
    border-style: solid;
    padding: 1rem;
    border-radius: 1.5rem;
    font-size: small;
  }

  .recommendations{
    display: flex;
    flex-direction: column;
  }

  .recommendations .moreLike{
    display: inline-flex;
  }

  .recommendations .moreLike h2{
    font-size: xx-large;
    padding-left: 1rem;
    border-width: 0rem 0rem 0rem 0.5rem;
    border-style: solid;
    border-color: red;
    margin-bottom: 1rem;
  }
  .recommendations .sortBy{
    width: 21.3%;
    display: inline-flex;
    justify-content: space-between;
  }

  .recommendations .sortBy .sort{
    border-style: solid;
    padding: 0.4rem;
    border-radius: 1rem;
    color: rgb(77, 77, 77);
    border-color: rgb(77, 77, 77);;
  }
  .recommendations .recommended{
    display:inline-flex;
    width: 80rem;
    overflow-x: scroll;
  }
/*
  .recommendations .moreLike .decorations{
    background: red;
    width: 0.8em;
    margin-right: 0.5rem;
  }
*/